body { 
    font-family: 'neuropol_xregular';
	line-height: 1.88889;
	color: #555753; 
	background: url(supernova.jpg) no-repeat;
	background-attachment: fixed; 
	background-position: center;
	margin: 0; 
	padding: 0;
	
    color: white;
   

	 }
h1 {
    color: #fcbb53;
}
head{
	text-align: center;
}